@charset "UTF-8";
/*------------------------------------------------------------
	メインビジュアル
------------------------------------------------------------*/
.mainHdg {
	padding: 15px 45px;
	background: linear-gradient(to right, #E3A844, #CC891E);
}

#mainVisual {
	background: url(../img/mv_bg.jpg) no-repeat right top;
}

#mainVisual .mainImg {
	padding: 40px 40px 20px;
}

#mainVisual .mainImg .lead {
	margin-top: -15px;
	color: #FFF;
	font-size: 1.8rem;
}

#mainVisual .offerHdg {
	margin-bottom: 15px;
	position: relative;
	color: #CC891E;
	font-size: 1.8rem;
	text-align: center;
}

#mainVisual .offerHdg::before,
#mainVisual .offerHdg::after {
	margin: auto 0;
	width: 300px;
	height: 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	content: "";
}

#mainVisual .offerHdg::before {
	background: linear-gradient(to left, rgba(204, 137, 30, 1), rgba(204, 137, 30, 0));
	left: 25px;
}

#mainVisual .offerHdg::after {
	background: linear-gradient(to right, rgba(204, 137, 30, 1), rgba(204, 137, 30, 0));
	right: 25px;
}

#mainVisual .jobOffer {
	margin-bottom: 30px;
	padding: 0 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#mainVisual .jobOffer .job {
	width: 304px;
	border: 2px solid #CC891E;
	text-align: center;
}

#mainVisual .jobOffer .job .inner {
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: left 30px center;
}

#mainVisual .jobOffer .job .jobName {
	min-height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #CC891E;
	color: #FFF;
	font-size: 1.8rem;
	font-weight: bold;
}

#mainVisual .jobOffer .job .jobName .small {
	font-size: 1.5rem;
	font-weight: normal;
}

#mainVisual .jobOffer .job .before {
	padding: 10px;
	position: relative;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.25;
}

#mainVisual .jobOffer .job .before::before,
#mainVisual .jobOffer .job .before::after {
	margin: 0 auto;
	width: 10px;
	height: 10px;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #CC891E;
	position: absolute;
	right: 0;
	left: 0;
	transform: rotate(135deg);
	content: "";
}

#mainVisual .jobOffer .job .before::before {
	bottom: 3px;
}

#mainVisual .jobOffer .job .before::after {
	bottom: -2px;
}

#mainVisual .jobOffer .job .before .num {
	font-size: 2rem;
}

#mainVisual .jobOffer .job .before .maker {
	display: block;
	font-size: 1.6rem;
}

#mainVisual .jobOffer .job .after {
	padding: 10px;
	position: relative;
	font-weight: bold;
}

#mainVisual .jobOffer .job .after .salary {
	font-size: 3rem;
	line-height: 1;
}

#mainVisual .jobOffer .job .after .salary .num {
	color: #8C0000;
	font-size: 4rem;
}

#mainVisual .jobOffer .job .after .maker {
	display: block;
	font-size: 1.5rem;
}

#mainVisual .jobOffer .job:nth-child(1) .inner {
	background-image: url(../img/mv_img01.png);
}

#mainVisual .jobOffer .job:nth-child(2) .inner {
	background-image: url(../img/mv_img02.png);
}

#mainVisual .jobOffer .job:nth-child(3) .inner {
	background-image: url(../img/mv_img03.png);
}

/*------------------------------------------------------------
	コンテンツ
------------------------------------------------------------*/
/* section01 */
#section01 {
	margin: 0 10px 100px;
	position: relative;
}

#section01::after {
	margin: 0 -10px;
	width: 940px;
	height: 80px;
	background: url(../img/sec01_arrow01.png) no-repeat;
	position: absolute;
	bottom: -80px;
	content: "";
}

#section01 .jobBox {
	margin: 0 10px;
	padding-top: 20px;
	background: linear-gradient(#EBD0A5 0%, #EBD0A5 70%, #FFF 100%);
	position: relative;
}

#section01 .monthly {
	margin-bottom: 20px;
	padding: 0 10px;
}

#section01 .monthly .jobList {
	display: flex;
	justify-content: space-between;
}

#section01 .monthly .jobList li {
	margin-bottom: 25px;
	padding: 10px;
	width: 145px;
	background-color: #FFF;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
	font-weight: bold;
	text-align: center;
	position: relative;
}

#section01 .monthly .jobList li .jobName {
	margin-bottom: 10px;
	padding: 10px 0;
	min-height: 60px;
	border-bottom: 1px dotted #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
}

#section01 .monthly .jobList li .salary {
	font-size: 1.6rem;
}

#section01 .monthly .jobList li .salary .num {
	color: #8C0000;
	font-size: 2.2rem;
}

#section01 .monthly .jobList li .balloon {
	background-color: #FF4000;
	position: absolute;
	right: 0;
	bottom: -25px;
	left: 0;
	color: #FFF;
}

#section01 .monthly .jobList li .balloon::after {
	margin: 0 auto;
	width: 0;
	height: 0;
	border-width: 0 5px 5px 5px;
	border-style: solid;
	border-color: transparent transparent #FF4000 transparent;
	position: absolute;
	top: -5px;
	right: 0;
	left: 0;
	content: "";
}

#section01 .monthly .etc {
	font-size: 1.9rem;
	text-align: right;
}

#section01 .comps {
	margin: 0 10px;
	padding: 30px;
	display: flex;
	justify-content: space-between;
}

#section01 .comps .hdg {
	margin-top: -40px;
}

#section01 .comps .caption {
	margin: 20px 0 0 -30px;
	padding: 5px 10px 5px 30px;
	height: 50px;
	display: inline-block;
	background-color: #CC881E;
	position: relative;
	z-index: 1;
	color: #FFF;
	font-size: 1.4rem;
}

#section01 .comps .caption::after {
	width: 50px;
	height: 50px;
	background-color: #CC881E;
	position: absolute;
	top: 0;
	right: -15px;
	bottom: 0;
	z-index: -1;
	transform: skewX(-15deg);
	content: "";
}

#section01 .comps .logoList {
	margin: 0 auto 20px;
	width: 528px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#section01 .comps .logoList li {
	margin: 0 1px 1px 0;
	padding: 5px;
	width: 65px;
	height: 40px;
	background-color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

#section01 .comps .logoList img {
	width: 100%;
}

#section01 .comps .topTxt {
	margin-bottom: 15px;
	color: #FFF;
	font-size: 1.9rem;
	text-align: center;
}

#section01 .comps .topTxt .small {
	font-size: 1.5rem;
}

#section01 .comps .btmTxt {
	color: #FFF;
	font-size: 1.3rem;
	text-align: center;
}

/* section02 */
#section02 {
	margin-bottom: 60px;
	padding: 50px 30px;
}

#section02 h3 img {
	margin: 0 auto 30px;
}

#section02 #section0201 .list01 li:nth-child(2n-1) {
	width: 320px;
}

#section02 #section0201 .list01 li:nth-child(2n) {
	width: 230px;
}

#section02 #section0203 .txt sup {
	font-size: 1rem;
}
#section02 #section0203 .etc {
	margin-top: 10px;
	font-size: 1.1rem;
}

#section02 .catch {
	color: #8C0000;
	font-size: 3.8rem;
	font-weight: bold;
	text-align: center;
}

#section02 .catch .small {
	display: block;
	color: #111;
	font-size: 2rem;
}

/* section03 */
#section03 {
	margin: 0 auto 30px;
}

#section03 .imgBox {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

#section03 .imgBox img {
	margin-right: 20px;
	width: 310px;
}

#section03 .imgBox .txtList {
	display: flex;
	flex-direction: column;
	flex: 1 0;
}

#section03 .txtList li:not(:last-child) {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #111;
}

#section03 .txtList span {
	font-weight: bold;
}

#section03 .privacy {
	padding: 10px 20px;
	background-color: #FFF;
	display: flex;
	align-items: center;
	color: #666;
	font-size: 1.4rem;
}

#section03 .privacy img {
	margin-right: 20px;
}