@charset "UTF-8";
/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
address,
del, img, ins,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}

table, caption, tbody, tfoot, thead, tr, th, td , fieldset, iframe {
	border: 0;
}

html {
	font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	font-family: 'メイリオ', Meiryo, "ヒラギノ角ゴシック", 'Hiragino Sans', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
	line-height: 1.1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

*, *::before, *::after {
	box-sizing: border-box;
}

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	width: 100%;
	min-width: 960px;
	line-height: 1.5;
	text-align: center;

	-webkit-text-size-adjust: 100%;
}

main {
	display: block;
}

#container {
	background: #f8f8f8;
	text-align: left;
}

#main {
	margin: 0 auto;
	padding: 0 0 60px;
	width: 940px;
	background-color: #fff;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
	font-size: 1.4rem;
}

.def {
	display: none;
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#header {
	background-color: #fff;
	box-shadow: 2px 0 10px 0 rgba(0, 0, 0, .2);
}

#header .inner {
	margin: 0 auto;
	padding: 10px 0 0;
	width: 940px;
	height: 50px;
	position: relative;
}

/*------------------------------------------------------------
	コンテンツ
------------------------------------------------------------*/
.anchBn.subBtn {
	margin: 0 auto 0;
	width: 488px;
	background: linear-gradient(115deg, #222 0%, #222 25%, #ff4310 26%, #ff4310 100%);
	transition: .5s opacity;
}

.anchBn:hover {
	opacity: .8;
}

.anchBn.subBtn .free {
	width: 25%;
}
.anchBn.subBtn .free .en {
	color: #fff;
	font-size: 2.2rem;
}

.anchBn.subBtn .free .ja {
	font-size: 1.6rem;
}

.anchBn.subBtn .support {
	padding: 20px;
	width: 80%;
	font-size: 2.4rem;
}


/*------------------------------------------------------------
	フォーム
------------------------------------------------------------*/
input[type="text"],
textarea {
	border: 1px solid #e6e6e6;
	font-size: 100%;
}

.radioList li {
	display: inline-block;
}

.radioList li input[type="radio"] {
	display: none;
}

.radioList li label {
	/*padding-left: 20px;*/
	display: inline-block;
	position: relative;
	/*line-height: 1.75;*/
	text-align: center;
	cursor: pointer;
}

.radioList li input[type="radio"]:checked + label:after {
	margin-top: -5px;
	width: 6px;
	height: 6px;
	background: #8c0000;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 5px;
	content: "";
}

.checkList li {
	display: inline;
}

.checkList li input[type=checkbox] {
	margin-right: 6px;
	display: inline-block;
}

.checkList li input[type=checkbox] + label {
	margin-right: 12px;
	display: inline-block;
	position: relative;
	line-height: 30px;
	cursor: pointer;
}

@media (min-width: 1px) {
	.checkList li input[type=checkbox] {
		margin: 0;
		display: none;
	}
	.checkList li input[type=checkbox] + label {
		padding: 0 0 0 24px;
		line-height: 1.75;
	}
	.checkList li input[type=checkbox] + label::before {
		margin-top: -8px;
		width: 14px;
		height: 14px;
		background: #fff;
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		content: "";
	}
	.checkList li input[type=checkbox] + label::before {
		border: 2px solid #e6e6e6;
	}
	.checkList li input[type=checkbox]:checked + label::after {
		display: block;
		position: absolute;
		top: 6px;
		content: "";
	}
	.checkList li input[type=checkbox]:checked + label::after {
		width: 14px;
		height: 7px;
		border-bottom: 3px solid #8c0000;
		border-left: 3px solid #8c0000;
		left: 3px;
		transform: rotate(-45deg);
	}
}

#formBox {
	margin: 60px 30px 0;
	padding: 40px 70px;
	/*border: 5px solid #e2ded8;*/
	border: 5px solid #ededed;
	border-radius: 6px;
}

#formBox .formHdg01 {
	margin-bottom: 40px;
	padding-bottom: 15px;
	border-bottom: 1px solid #111;
	/*border-bottom: 1px solid #cc891e;*/
	display: flex;
	font-size: 2.4rem;

	justify-content: center;
	align-items: center;
}

#formBox .formHdg01 img {
	margin-right: 25px;
	width: 160px;
/*	width: 217px;
	height: 28px;*/
}

#formBox {
	color: #111;
}

#formBox .errorTxt {
	margin-bottom: 30px;
	color: #8c0000;
	font-size: 115%;
	text-align: center;
}

/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
#footer {
	padding: 5px 10px;
	background-color: #111;
	text-align: center;
}

#footer p {
	color: #fff;
	font-size: 1.2rem;
	text-align: center;
}

#footer .copyright {
	display: block;
	font-style: normal;
}

/*------------------------------------------------------------
	パーツ
------------------------------------------------------------*/
/* 見出し */
.hdg01 {
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	text-align: center;
}

.hdg01::after {
	margin: 0 auto;
	width: 75%;
	height: 2px;
	background: linear-gradient(to right, rgba(204, 137, 30, 0), rgba(204, 137, 30, 1), rgba(204, 137, 30, 0));
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
}

.hdg01 .time {
	height: 36px;
	display: flex;
	position: absolute;
	top: 0;
	right: 80px;
	color: #111;
	font-size: 1.6rem;
	font-weight: normal;

	align-items: flex-end;
}

.hdg02 {
	margin-bottom: 30px;
	padding-bottom: 30px;
	position: relative;
	color: #111;
	font-size: 3.6rem;
	line-height: 1.25;
	text-align: center;
}

.hdg02::after {
	margin: 0 auto;
	width: 59px;
	height: 10px;
	background: url(../img/hdg02_icon.png) no-repeat center;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
}

.hdg02 .lead {
	margin-bottom: 10px;
	display: block;
	color: #df0000;
	font-size: 2.7rem;
}

.hdg02 span {
	color: #8c0000;
}

/* ボタン */
.subBtn {
	margin: 0 auto;
	width: 280px;
	background: linear-gradient(115deg, #222 0%, #222 30%, #8c0000 31%, #8c0000 100%);
	border: none;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
	display: flex;
	color: #fff;
	text-decoration: none;
	transition: .5s opacity;

	align-items: stretch;
	-webkit-appearance: none;
	        appearance: none;
}

.subBtn:hover {
	opacity: .8;
	cursor: pointer;
}

.subBtn .free {
	padding: 10px 20px;
	width: 30%;
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
}

.subBtn .free .en {
	margin-bottom: 8px;
	color: #cc891e;
	font-family: Arial, sans-serif;
	font-size: 1.6rem;
	font-weight: bold;
	font-style: italic;
	line-height: 1;
	transform: scale(.9, 1);
}

.subBtn .free .ja {
	font-size: 1.2rem;
	line-height: 1;
}

.subBtn .support {
	padding: 20px 50px;
	width: 70%;
	font-size: 2.2rem;
	text-align: center;
	letter-spacing: 2px;
}

.subBtn .support .icon {
	padding-right: 30px;
	position: relative;
}

.subBtn .support .icon:before,
.subBtn .support .icon:after {
	position: absolute;
	top: 50%;
	content: "";
}

.subBtn .support .icon:before {
	margin-top: -10px;
	width: 20px;
	height: 20px;
	border: 1px solid #fff;
	border-radius: 10px;
	right: 0;
}

.subBtn .support .icon:after {
	margin-top: -6px;
	width: 8px;
	height: 8px;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #fff;
	right: 6px;
	transform: rotate(135deg);
}

/* .floatBox */
.flowBox {
	margin: 0 30px 17px;
	padding: 7px;
	background-color: #ededed;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
	display: block;
	position: relative;

	justify-content: space-between;
}

.flowBox:last-of-type {
	margin-bottom: 80px;
	border: none;
}

.flowBox:last-of-type::after {
	margin: 0 auto;
	width: 220px;
	height: 41px;
	background: url(../img/flow_arrow01.png);
	position: absolute;
	right: 0;
	bottom: -42px;
	left: 0;
	content: "";
}

.flowBox .inner {
	padding: 26px;
	background-color: #fff;
	display: flex;
	position: relative;

	justify-content: space-between;
}

.flowBox .txtBox {
	flex: 1 0;
}

.flowBox .imgBox {
	margin-left: 30px;
	position: relative;
}

.flowBox .hdg {
	margin: 10px 0 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #222;
	font-size: 3rem;
	font-weight: bold;
}

.flowBox .hdg .num {
	margin-right: 5px;
	color: #004f9d;
}

.flowBox .lead {
	margin-bottom: 15px;
	font-size: 1.5rem;
	line-height: 1.75;
}

.flowBox .lead span {
	color: #df0000;
	font-weight: bold;
}

.flowBox .etc {
	line-height: 1;
	text-align: right;
}

.flowBox .imgBox .etc {
	position: relative;
	top: 5px;
	right: -5px;
	font-size: 1.1rem;
}

.catch {
	color: #df0000;
	font-size: 3.8rem;
	font-weight: bold;
	text-align: center;
}

.catch .small {
	display: block;
	color: #111;
	font-size: 2rem;
}

/* .list01 */
.list01 {
	display: flex;

	flex-wrap: wrap;
	justify-content: space-between;
}

.list01 li {
	box-sizing: border-box;
	padding: 2px 10px 2px 12px;
	position: relative;
}

.list01.double li {
	width: 50%;
}

.list01 li::after {
	width: 5px;
	height: 5px;
	background-color: #cc851e;
	border-radius: 100%;
	position: absolute;
	top: .7em;
	left: 0;
	content: "";
}

/* 背景色 */
.bgGray {
	background-color: #272727;
}

.bgBeige {
	background-color: #f5f3ef;
}

.bgNote {
	margin: 15px auto 0;
	padding: 40px 40px;
	width: 850px;
	background: #faf4ea;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
	position: relative;
}

.bgNote::before {
	margin: 0 auto;
	width: 100%;
	height: 30px;
	background: url(../img/bg_note.png) no-repeat top center;
	position: absolute;
	z-index: 1;
	top: -15px;
	right: 0;
	left: 0;
	content: "";
}

.bgNote .hdg {
	margin-bottom: 40px;
	padding: 20px 0;
	border-bottom: 1px solid #111;
	font-size: 2.5rem;
	font-weight: normal;
	text-align: center;
}

#formCv {
	padding: 40px 120px 85px;
	background: url(../img/formcv_arrow01.png) no-repeat bottom, linear-gradient(to bottom, #eff3f5 ,#f7f7f7);
	display: flex;

	justify-content: space-between;
}

#formCv .txtBox {
	padding-top: 5px;
	text-align: center;

	flex: 1 0;
}

#formCv .txtBox .hdg {
	margin-bottom: 5px;
	display: block;
	font-size: 3rem;
	font-weight: bold;
	font-style: normal;
}

#formCv .txtBox .lead {
	font-size: 1.6rem;
}

/* サンキューページ */
#entry-thanks #header {
	border-bottom: 1px solid #ddd;
	box-shadow: none;
}

#entry-thanks #main {
	padding: 0;
	box-shadow: none;
	font-size: 1.6rem;
}

#entry-thanks #conts {
	padding: 40px 0;
}

#entry-thanks #conts section > .inner {
	margin: auto;
	width: 680px;
}

#entry-thanks p {
	margin-bottom: 20px;
	font-size: 1.6rem;
	line-height: 1.8;
}

#entry-thanks p.lead {
	padding: 0 16px;
}

#entry-thanks .ttl03 {
	margin-bottom: 20px;
	color: #004f9d;
	font-size: 2.6rem;
	font-weight: bold;
	text-align: center;
}

#entry-thanks .thanksTxt {
	text-align: center;
}

#entry-thanks .thanksBox {
	margin-bottom: 50px;
	padding: 20px;
	background: #fff;
	border: 2px solid #004f9d;
}

#entry-thanks .thanksBox .ttl {
	margin-bottom: 15px;
	color: #004f9d;
	font-weight: bold;
}

#entry-thanks .thanksBox p {
	margin-bottom: 0;
	padding: 0 1em;
}

#entry-thanks .contactBox {
	margin: auto;
	margin-top: 15px;
	padding: 15px 0;
	width: 500px;
	border: 1px solid #ccc;
}

#entry-thanks .contactBox .name {
	margin-bottom: 0;
	text-align: center;
}

#entry-thanks .contactBox .mail,
#entry-thanks .contactBox .tel {
	display: flex;
}

#entry-thanks .contactBox .mail p,
#entry-thanks .contactBox .tel p {
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: bold;
}

#entry-thanks .contactBox .mail a {
	text-decoration: none;
	color: #111;
}

#entry-thanks .contactBox .tel span {
	font-size: 1.6rem;
	font-weight: normal;
}

#entry-thanks .contactBox .inner {
	margin: auto;
	width: 300px;
}

#entry-thanks .copyright {
	margin-bottom: 0;
}